
<header class="header mb-5" dir="rtl">
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <div class="navbar-buttons">
                <button type="button" data-toggle="collapse" data-target="#navigation" class="btn btn-outline-secondary navbar-toggler">
                    <span class="sr-only">Toggle navigation</span><i class="fa fa-align-justify"></i>
                </button>
                <button type="button" data-toggle="collapse" data-target="#search" class="btn btn-outline-secondary navbar-toggler">
                    <span class="sr-only">Toggle search</span><i class="fa fa-search"></i>
                </button>
            </div>
            <div id="navigation" class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="/Home" class="nav-link menu ">صفحه اصلی</a>
                    </li>
                    <li class="nav-item">
                        <a href="/Home/SetToRedis" class="nav-link menu ">افزودن فایل اکسل</a>
                    </li>
                    <li class="nav-item">
                        <a href="/Home/ListData" class="nav-link menu ">دیتا ذخیره شده در SQL</a>
                    </li>
                </ul>
                <div class="navbar-buttons d-flex justify-content-between">
                    <div id="search-not-mobile" class="navbar-collapse collapse"></div>
                    <a data-toggle="collapse" href="#search"
                       class="btn navbar-btn btn-primary d-none d-lg-inline-block">
                        <span class="sr-only">Toggle search</span><i class="fa fa-search"></i>
                    </a>
                </div>
            </div>
        </div>
    </nav>
    <div id="search" class="collapse">
        <div class="container">
            <form role="search" class="ml-auto">
                <div class="input-group">
                    <input type="text" placeholder="جستجو" class="form-control">
                    <div class="input-group-append">
                        <button type="button" class="btn btn-primary">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</header>

