@model IEnumerable<kavehnegar.Models.MyTBLViewModel>

@{
    ViewBag.Title = "Index";
}

@if (Model != null)
{
    <div id="customer-orders" class="container">
        <div class="box">
            <h3 class="text-center color_defult m-4">Read Record As Redis</h3>
            <table class="table" id="ListProperty">
                @foreach (var item in Model)
                {
                    <tr>
                        <div>
                            <td>
                                @Html.DisplayFor(modelItem => item.DataString)
                            </td>
                            <td>
                                <a onclick="Create('@item.DataString')" class="btn-link">
                                    Save
                                </a>
                            </td>
                        </div>
                    </tr>
                }
            </table>
        </div>
    </div>
}
else
{
    <div id="customer-orders" class="container">
        <div class="box">
            <h3 class="text-center color_defult m-4">جدول</h3>
            <div class="alert alert-danger text-center">
                رکوردی وجود ندارد
                <p>با کلیک روی <a href="/Home/SetToRedis" class="btn-link">لینک</a> فایل را آپلود کنید</p>
            </div>
        </div>
    </div>
}


<!-- Modal -->
<div class="modal fade" id="MyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header ">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="MyModalBody">
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script>
        function Create(id) {
            $.get("/Home/Create/" + id, function (result) {
                $("#MyModal").modal("show");
                $("#MyModalBody").html(result);
            });
        }
        function Success() {
            $("#MyModal").modal("hide");
        }
    </script>
}